node_modules
packages/**/node_modules
packages/*/*/dist
testProject/deployment

docker-mendix-buildpack
testProject8x/deployment
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/dynamicsecurity.mpr.bak
/dynamicsecurity.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
