/*
Place your custom CSS here
*/
.mxcn-graph {
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .legend-container {
        height: 26px;
        display: flex;

        .legend-item {
            color: #264ae5;
            border-color: #e7e7e9;
            background-color: #fff;

            min-width: 80px;
            display: flex;
            flex-wrap: wrap;

            &:not(:first-child) {
                margin-left: 20px;
            }
            &:hover {
                color: #264ae5;
                border-color: #e7e7e9;
                background-color: #e7e7e9;

                outline: none;
                box-shadow: none;
            }
        }
    }

    .canvas-container {
        border: solid;
        flex: auto;

        width: calc(100% - 16px);
        margin-top: 26px;
        height: calc(100% - 26px);
        overflow: hidden;
        min-height: 500px;
        position: absolute;
    }
}
