@import "../../node_modules/antd/dist/antd";
.mxcn-select {
    width: 100%;
    display: flex;
    align-items: center;
    .ant-select-selector {
        flex: auto;
    }
}

.mxcn-select-dropdown {
    .ant-btn {
        display: flex;
        align-items: flex-start;
        padding: 0;
    }
    .on-create-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1;
        background-color: aquamarine;
    }
}
